* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(#200016, #10001f);
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
header {
  position: fixed;
  width: 95%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
header .logo {
  font-size: 30px;
  text-transform: uppercase;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header ul li {
  margin-right: 10px;
}
header ul li a {
  padding: 6px 15px;
  border-radius: 20px;
}
header ul li a:hover,
.active {
  background: #fff;
  color: #200016;
}
.main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to top, #200016, transparent);
}
.main img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#moon {
  mix-blend-mode: screen;
  transform: translateY(3px);
}
.content {
  position: relative;
  margin: auto;
  color: white;
  width: 1200px;
  height: auto;
}
.content h1 {
  font-family: "Times New Roman";
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}
.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: "Franklin Gothic Medium";
  letter-spacing: 1.2px;
  line-height: 30px;
}
.content .cn {
  background: #200016;
  width: 160px;
  height: 40px;
  border: none;
  margin-bottom: 15px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 30px;
}
.content .cn a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
  font-weight: bold;
}
.cn:hover {
  background-color: beige;
}
.form {
  width: 250px;
  height: 380px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  position: absolute;
  top: -20px;
  left: 970px;
  border-radius: 10px;
  padding: 25px;
}
.content span {
  color: rgba(47, 47, 139, 0.815);
  font-size: 60px;
}
.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #200016;
  font-size: 22px;
  background-color: beige;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}
.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #200016;
  border-top: none;
  border-right: none;
  border-left: none;
  color: aliceblue;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}
.btn {
  width: 240px;
  height: 40px;
  margin-top: 30px;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #200016;
  transition: 0.3s ease;
}
.btn:hover {
  background: azure;
  color: #200016;
}
.btn a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.liw {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}
.icons a {
  text-decoration: none;
  color: beige;
}
.icons ion-icon {
  color: aliceblue;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}
.icons ion-icon:hover {
  color: #200016;
}
